In [1]:
'''I want to match two datasets using the Python function ratio. I only need 1 match and only if the score is above .85.

I have two datasets. The one file has 35 000 observations and needs to be matched to a file that has 1.8 million observations.'''

'I want to match two datasets using the Python function ratio. I only need 1 match and only if the score is above .85.\n\nI have two datasets. The one file has 35 000 observations and needs to be matched to a file that has 1.8 million observations.'

In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [3]:
df1=pd.read_stata(r'C:\Users\Vishal\Downloads\IRS Charities Name\BoardEx Charities.dta')

In [4]:
df1.head(6)

                                   CompanyName
0  New England Hemophilia Association (NEHA)
1       Los Gatos Education Foundation (LGEF)
2                                         #Fly
3                               #GivingTuesday
4          'See Ya Later' Foundation Inc (SYL)
5                  1 Million 4 Anna Foundation

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34478 entries, 0 to 34477
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CompanyName  34478 non-null  object
dtypes: object(1)
memory usage: 538.7+ KB

In [6]:
import re
def clean_text(text):
    text = text.lower()
    #foction de replacement
    text = re.sub(r"i'm","i am",text)
    text = re.sub(r"she's","she is",text)
    text = re.sub(r"can't","cannot",text)
    text = re.sub(r"\x1a","",text)
    text = re.sub(r"�","",text)
    result = re.sub(r"[(a-z)]", "",text)
    text = re.sub(r"[-()\"#/@;:<>{}=~|.?,]", "", text)
    return text

In [7]:
df1=df1['CompanyName'].apply(clean_text)

In [8]:
df1[0]

'new england hemophilia association neha'

In [9]:
df2=pd.read_stata(r'C:\Users\Vishal\Downloads\IRS Charities Name\IRS Charities Name.dta')

In [10]:
df2.head()

                               name
0  SOUTH LAFOURCHE QUARTERBACK CLUB
1      PALMER SECOND BAPTIST CHURCH
2               ST GEORGE CATHEDRAL
3            CORINTH BAPTIST CHURCH
4                  IGLESIA VICTORIA

In [11]:
df2=df2['name'].apply(clean_text)

In [12]:
df2

0                         south lafourche quarterback club
1                             palmer second baptist church
2                                      st george cathedral
3                                   corinth baptist church
4                                         iglesia victoria
                                ...
1762995                        toyo sakumoto charitable tr
1762996                   independent order of odd fellows
1762997                    hawaii foundation for the blind
1762998    champaign county extension education foundation
1762999            national association of letter carriers
Name: name, Length: 1763000, dtype: object

In [22]:
#!pip install strsim
#!pip install tqdm==4.1.0

In [27]:
from similarity.jarowinkler import JaroWinkler

jarowinkler = JaroWinkler()
print(jarowinkler.similarity('new england hemophilia association neha', 'bangor symphony orchestra'))

0.6087089518668466

In [29]:
srting_from_df1=[]
string_from_df2=[]
for i in tqdm(range(len(df2[:1000]))):
    for j in range(len(df1[:1000])):
        if jarowinkler.similarity(df2[i], df1[j])>0.85:
            string_from_df2.append(df2[i])
            srting_from_df1.append(df1[j])
            
            break

100%|██████████████████████████████████████████████████████████████████████████████| 1000/1000 [01:17<00:00, 12.97it/s]

In [30]:
len(ls)

4

In [32]:
df=pd.DataFrame()
df['BoardEx Charities.dta']=srting_from_df1
df['IRS Charities Name.dta 85% firt match']=string_from_df2
df

                     BoardEx Charities.dta    IRS Charities Name.dta 85% match
0                 akron symphony orchestra           bangor symphony orchestra
1  new england hemophilia association neha  new england music camp association
2                   aaron's foundation inc              simmons foundation inc
3                           abc foundation                b m clark foundation

In [ ]:
df

###  https://pypi.org/project/strsim/#weighted-levenshtein